# Ignore the PyCharm-specific .idea/ folder
.idea/

# Ignore the folders created by PyInstaller
build/
dist/

# Ignore the executable file, the user should build this executable themselves by running PyInstaller
*.exe


# Ignore the GIMP files in the images directory
images/*.xcf